.p-5 {
  padding: 0.5rem;
}

.p-10 {
  padding: 1rem;
}

.p-20 {
  padding: 2rem;
}

.m-5 {
  margin: 0.5rem;
}

.m-10 {
  margin: 1rem;
}

.m-20 {
  margin: 2rem;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.justify-c {
  justify-content: center !important;;
}

.justify-start {
  justify-content: flex-start !important;
}

.justify-sa {
  justify-content: space-around !important;;
}

.justify-sb {
  justify-content: space-between !important;;
}

.justify-end {
  justify-content: flex-end !important;;
}

.align-c {
  align-items: center !important;;
}

.align-sa {
  align-items: space-around !important;;
}

.align-sb {
  align-items: space-between !important;;
}

.dead-text {
  color: #808A9D;
}

.all-caps {
  text-transform: uppercase;;
}

.success {
  color: #16C784;
}

.danger {
  color: #EA3943;
}

.bold {
  font-weight: bold;
}

.bolder {
  font-weight: bolder;
}

.small-font-size {
  font-size: 12px;
}
