.dashboard-table {
  width: 100%;
  position: relative;

  &__header {
    font-size: 0.8rem;
    border-top: 0.1rem solid #eff2f5;
    font-weight: 700;
  }

  &__body {
    font-size: 0.8rem;
  }

  &__row-count {
    position: absolute;
    top: -3rem;
    right: 0;

    select {
      background: #EFF2F5;
      border: none;
      border-radius: 0.2rem;
      padding: 0.1rem;
    }
  }

  &__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.1rem solid #eff2f5;
    padding: 0.5rem 0;
  }

  &__column {
    width: 50%;
    margin: 0.5rem;
    display: flex;
    justify-content: flex-end;
    word-break: break-all;
    align-items: center;

    &--xsmall {
      width: 10%;
    }

    &--large {
      width: 60%;
    }

    &--small {
      width: 25%;
    }

    &--medium {
      width: 40%;
    }
  }

  &__column-image {
    width: 24px;
    height: 24px;
  }
}